<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.kidslab.admin.login.vo.AdminLoginVO"
			alias="login" />
		<typeAlias type="com.kidslab.admin.jointeacher.vo.TeacherVO"
			alias="teacher" />
		<!-- security 에서 teacherSecurity로 변경 -->
		<typeAlias type="com.kidslab.admin.jointeacher.vo.TeacherSecurity"
			alias="teacherSecurity" />
		<typeAlias type="com.kidslab.admin.course.vo.CourseVO"
			alias="adminCourse" />
		<typeAlias type="com.kidslab.admin.payment.vo.PaymentVO"
			alias="adminPayment" />
		<typeAlias type="com.kidslab.teacher.login.vo.TeacherLoginVO"
			alias="teacherLogin" />
		<typeAlias type="com.kidslab.teacher.registcourse.vo.RegistCourseVO"
			alias="registCourse" />
		<!-- 사용자 추가된 부분 -->
		<typeAlias type="com.kidslab.client.parent.vo.ParentVO"
			alias="parent" />
		<typeAlias type="com.kidslab.client.common.vo.UserSecurity"
			alias="security" />
		<typeAlias type="com.kidslab.client.login.vo.UserLoginVO"
			alias="userLogin" />
		<typeAlias type="com.kidslab.client.student.vo.StudentVO"
			alias="student" />

	</typeAliases>

</configuration>
