@charset "UTF-8";

body {
    margin-bottom: 80px;
    min-width: 1800px;
}

body>.container {
	background-color: #F9F9F9;
}

caption {
    font-size: 15pt;
}

.courseData {
    width: 80%;
    margin: 0 auto;
    float: left;
}

.noticeDiv, .dataDiv {
    width: 50%;
    float: left;
}

.mainList {
    text-align: center;
}

th {
    text-align: center;
}

td {
    padding: 5px;
    font-size: 13pt;
}

tr td:first-child {
    width: 150px;
}