<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.kidslab.client.parent.vo.ParentVO"
			alias="parent" />
		<typeAlias type="com.kidslab.client.common.vo.UserSecurity"
			alias="security" />
		<typeAlias type="com.kidslab.client.login.vo.UserLoginVO"
			alias="userLogin" />
		<typeAlias type="com.kidslab.client.student.vo.StudentVO"
			alias="student" />
		<typeAlias type="com.kidslab.admin.course.vo.CourseVO"
			alias="course" />
	</typeAliases>

</configuration>
